# Dashboard components

This notebook tests the logic components of the dashboard, to be composed in the app.

In [5]:
import pandas as pd

df = pd.read_csv('data/portugal_municipalities.csv')

In [8]:
df.tail()

,district,municipality,municipality_id,year,region_type,construction_type,dweling_type,value_construction_type,type,value_dwelling_type
201204,Évora,Évora,Q179948,2023.0,Município,Total,Total,78.0,T0 ou T1,1.0
201205,Évora,Évora,Q179948,2023.0,Município,Total,Total,78.0,T2,7.0
201206,Évora,Évora,Q179948,2023.0,Município,Total,Total,78.0,T3,23.0
201207,Évora,Évora,Q179948,2023.0,Município,Total,Total,78.0,T4 ou mais,30.0
201208,Évora,Évora,Q179948,2023.0,Município,Total,Total,78.0,Total,61.0

In [ ]:
df[df['dwelling_type'] == 'Total'].groupby('year')['value_dwelling_type'].sum()

year
1995.0         0.0
1996.0         0.0
1997.0         0.0
1998.0         0.0
1999.0         0.0
2000.0         0.0
2001.0         0.0
2002.0         0.0
2003.0         0.0
2004.0         0.0
2005.0         0.0
2006.0         0.0
2007.0         0.0
2008.0         0.0
2009.0         0.0
2010.0         0.0
2011.0    148020.0
2012.0    109926.0
2013.0     70356.0
2014.0     46920.0
2015.0     40050.0
2016.0     44964.0
2017.0     46632.0
2018.0     60870.0
2019.0     73158.0
2020.0     96180.0
2021.0    107970.0
2022.0    116232.0
2023.0    130788.0
Name: value_dwelling_type, dtype: float64